<!DOCTYPE html>
<html>
  <head>
    <title>All Recipes</title>
    <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- List of all recipes --> 

    <h2>All Recipes</h2> 
    
    <div>
      <%= form_for :filter, url: "/", method: :post do |f| %>

        <h3>Filter by:</h3>
              
        <%= f.check_box :breakfast %>
        <%= f.label :breakfast, "Breakfast" %>
        <%= f.check_box :lunch %>
        <%= f.label :lunch, "Lunch" %>
        <%= f.check_box :dinner %>
        <%= f.label :dinner, "Dinner" %>
        <%= f.check_box :dessert %>
        <%= f.label :dessert, "Dessert" %>
        <%= f.check_box :appetizer %>
        <%= f.label :appetizer, "Appetizer" %>
        
        <%= f.check_box :vegetarian %>
        <%= f.label :vegetarian, "Vegetarian" %>
        <%= f.check_box :vegan %>
        <%= f.label :vegan, "Vegan" %>
        <%= f.check_box :gluten_free %>
        <%= f.label :gluten_free, "Gluten-free" %>
        <%= f.check_box :peanut_free %>
        <%= f.label :peanut_free, "Peanut-free" %>
        <%= f.check_box :halal %>
        <%= f.label :halal, "Halal" %>
        <%= f.check_box :kosher %>
        <%= f.label :kosher, "Kosher" %>
        
        <%= submit_tag 'Apply Filters' %>
        
      <% end %>
    </div>

    <div>
      <% if @recipes.count == 0 %>
        <%= "No results found" %>
      <% end %>
    </div>

    <% @recipes.each do |recipe| %>

      <div>
        <%= link_to recipe.title, recipe_path(recipe.id) %>
        <%= recipe.id %>
        
        <%= recipe.description %>

        <%= link_to recipe.title, recipe %>

      </div>
    <% end %>


  </body>
</html>