<!DOCTYPE html>
<html>
  <head>
    <title>All Recipes</title>
    <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- List of all recipes --> 
    <h2>All Recipes</h2>
    <% @recipes.each do |recipe| %>
      <div>
        <%= link_to recipe.title, recipe_path(recipe.id) %>
        <%= recipe.id %>
        <%= recipe.photo %>
        <%= recipe.description %>
      </div>
    <% end %>

  </body>
</html>