<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="recipes__my-recipes">
    <!-- List of user recipes --> 
    <h2 class="recipes__my-rec-title">My Recipes</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
 
    <div class="recipes__my-recipe">
      <% @user.recipes.each do |recipe| %>
        <div>
          <%= image_tag recipe.photo %>
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
      <% end %>
    </div>

  </body>
</html>