<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- List of user recipes --> 
    <h2>Your Recipes</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

   
      

    <% @user.recipes.each do |recipe| %>
      <div>
        <%= image_tag recipe.photo %>
        <%= link_to recipe.title, recipe_path(recipe), class: 'button' %>
      </div>
    <% end %>

  </body>
</html>