<!DOCTYPE html>
  <html>
    <head>
      <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
    </head>
    
    <body class="recipes__recipe-container">

      <h2 class="recipes__name"><%= @recipe.title %></h2>

      <!-- Recipe photo to be displayed here -->
      <div class="recipes__recipe-info">
      
        <div>
          <!-- Favourites Button (Conditional) -->
          <% if current_user %>
            <% if @existing_favorite %>
              <!-- Favourites Remove Button -->
              <%= form_for :favourite, url: user_recipe_favourite_path(current_user, @recipe), method: :delete do |form| %>
                <%= form.hidden_field :recipe_id, value: @recipe.id %>
                <%= form.submit 'Remove from Favourites', class: 'button' %>
              <% end %>
            <% else %>
              <!-- Favourites Create Button -->
              <%= form_for :favourite, url: user_recipe_favourite_path(current_user, recipe_id: @recipe.id), method: :post do |form| %>
                <%= form.hidden_field :recipe_id, value: @recipe.id %>
                <%= form.submit 'Add to Favourites', class: 'button' %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="recipes__date">
          <span>Created on:</span>
          <%= @recipe.created_at.strftime("%Y-%m-%d") %> 
        </div>

        <div>
          <span>Created by:</span>
          <%= @recipe.user.username %>
        </div>

        <div class="recipes__servings">
          <span>Number of servings:</span>
          <%= @recipe.number_of_servings %>
        </div>

        <div class="recipes__time">
          <span>Total time (minutes):</span>
          <%= @recipe.time %>
        </div>

        <div class="recipes__preparation">
          <div class="recipes__ingredients">
            <span>Ingredients:</span>
            <%= @recipe.ingredients %>
          </div>
          
          <div class="recipes__instructions">
            <span>Instructions:</span>
            <%= @recipe.instructions %>
          </div>
      </div>

      <div>
        <% if current_user == @recipe.user %>
          <!-- Edit Button -->
          <%= link_to 'Edit', edit_user_recipe_path(@recipe), class: 'button'%>

          <!-- Delete Button -->
          <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
        <% end %>
      </div>

      <div>
        <h3>Share this recipe:</h3>

        <!-- Share Link -->
        <div>
           <label for="share-link">Copy link:</label>
           <input type="text" id="share-link" value="<%= request.original_url %>" readonly>
        </div>

        <!-- Social Media -->
        <div>
          <a href="https://twitter.com/intent/tweet?text=<%= @recipe.title %>&url=<%= request.original_url %>" target="_blank">Share on Twitter</a>
        </div>

        <!-- Email -->
        <div>
          <a href="mailto:?subject=Check out this recipe: <%= @recipe.title %>&body=I thought you might like this recipe: <%= request.original_url %>">Share via Email</a>
        </div>
      </div>
      
      
      <h3>Reviews:</h3>

      <!-- Review Form -->
      <%= form_for [@recipe, @review], url: user_recipe_reviews_path(current_user, @recipe), method: :post do |f| %>
      <div>
        <%= f.label :comment, 'Comment:' %>
        <%= f.text_field :comment %>
      </div>
      <div>
        <%= f.label :rating, 'Rating:' %>
        <%= f.number_field :rating, min: 1 , max: 5, step: 1 %>
      </div>
      <div>
        <%= f.submit 'Submit Review' %>
      </div>
    <% end %>

    <div class="recipes__reviews">
      <% @recipe.reviews.each do |review| %>
        <div>
          <!-- Fetch and display the username -->
          <div class="recipes__username">
            <%= User.find(review.user_id).username %>:
          </div>

          <!-- Display the rating -->
          <div class="recipes__rating">
            <%= review.rating %> / 5
          </div>
          
          <!-- Display the review comment -->
          <div class="recipes__comment">
            <%= review.comment %>
          </div>
          <!-- Edit and Delete buttons -->
          <% if current_user == review.user %>
            <%= button_to 'Delete', url: user_recipe_reviews_path(current_user, @recipe, review), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

        </div>
      <% end %>
    </div>

  </div>

  </body>
</html>