<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<h2><%= @recipe.title %></h2>

<div>
  

  <%= @recipe.created_at.strftime("%Y-%m-%d") %>

  <%= @recipe.number_of_servings %>

  <%= @recipe.time %>

  <%= @recipe.ingredients %>

  <%= @recipe.instructions %>



  <% if current_user == @recipe.user %>
    <div>
      <!-- Edit Button -->
    <%= link_to 'Edit', edit_user_recipe_path(@recipe)%>

    <!-- Delete Button -->
    <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
  <% end %>

<div>
  <!-- Favourites Create Button -->
  <%= form_with model: @favourite, url: user_recipe_favourite_path(current_user, recipe_id: @recipe.id), method: :post do |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.submit 'Add to Favorites' %>
  <% end %>
</div>

<div>
  <!-- Favourites Remove Button -->
  <%= form_with model: @favourite, url: user_recipe_favourite_path(current_user, @recipe), method: :delete do |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.submit 'Remove from Favorites' %>
  <% end %>
</div>

  <div>
    <% @recipe.reviews.each do |review| %>

    <%= review.rating %>

    <%= review.comment %>

    <% end %>
  </div>
</div>

</body>
</html>