<!DOCTYPE html>
<html>
  
  <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>

  <h2><%= @recipe.title %></h2>

  <body>
    <div>

      <%= image_tag @recipe.photo %>

      <%= @recipe.created_at.strftime("%Y-%m-%d") %>

      <%= @recipe.number_of_servings %>

      <%= @recipe.time %>

      <%= @recipe.ingredients %>

      <%= @recipe.instructions %>

      <div>

        <% @recipe.reviews.each do |review| %>

        <%= review.rating %>

        <%= review.comment %>

        <% end %>

      </div>

    </div>

  </body>
</html>