<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<h2><%= @recipe.title %></h2>

<div>
  

  <%= @recipe.created_at.strftime("%Y-%m-%d") %>

  <%= @recipe.number_of_servings %>

  <%= @recipe.time %>

  <%= @recipe.ingredients %>

  <%= @recipe.instructions %>

  <div>
    <% @recipe.reviews.each do |review| %>

    <%= review.rating %>

    <%= review.comment %>

    <% end %>
  </div>
</div>

</body>
</html>