<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Klee+One&display=swap', media: 'all', 'data-turbolinks-track': 'reload', 'data-turbolinks-permanent': true %>
  </head>

  <body>

    <div class="recipes__recipe">
      
      <h2 class="recipes__title"><%= @recipe.title %></h2>

      <div class="recipes__image">
        <%= image_tag @recipe.photo %>
      </div>

      <div class="recipes__date">
        <span>Posted on:</span>
        <%= @recipe.created_at.strftime("%Y-%m-%d") %>
      </div>
      
      <div class="recipes__servings">
        <span>Number of servings:</span>
        <%= @recipe.number_of_servings %>
      </div>

      <div class="recipes__time">
        <span>Total time:</span>
        <%= @recipe.time %>
      </div>  
        
      <div class="recipes__ingredients">
        <span>Ingredients:</span>
        <%= @recipe.ingredients %>
      </div>

      <div class="recipes__instructions">
        <span>Instructions:</span>
        <%= @recipe.instructions %>
      </div>

      <div class="recipes__reviews">

        <% @recipe.reviews.each do |review| %>

        <div class="recipes__rating">
          <%= review.rating %>
          <span>out of 5</span>
        </div>

        <div class="recipes__comment">
          <%= review.comment %>
        </div>

        <% end %>

      </div>

    </div>

  </body>
</html>