<!DOCTYPE html>
<html>
  <head>
    <title>Edit User Profile</title>
    <%= stylesheet_link_tag 'users', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="users">

    <h2 class="users__title">Edit Profile</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="users__edit-form">
    
      <%= form_for @user, url: user_path(@user), method: :patch do |f| %>
        
        <div class="users__form-group">
          <%= f.label :name, 'Name:' %>
          <%= f.text_field :name %>
        </div>

        <div class="users__form-group">
          <%= f.label :username, 'Username:' %>
          <%= f.text_field :username %>
        </div>
        
        <div class="users__form-group">
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %>
        </div>

        <div class="users__form-group">
          <%= f.label :password, 'New Password:' %>
          <%= f.password_field :password %>
        </div>

        <div class="users__form-group">
          <%= f.label :password_confirmation, 'New Password Confirmation:' %>
          <%= f.password_field :password_confirmation %>
        </div>
        
        <div>
          <%= f.submit "Update Profile", class: 'users__edit-button' %>
        </div>
      <% end %>

    </div>

  </body>
</html>