<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <%= stylesheet_link_tag 'users', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="users">
    <h2 class="users__user-title">User Information</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="users__user-info">
      <div class="users__name">Name:
        <div class="users__name-input"><%= @user.name %></div>
      </div>
      <div class="users__username">Username:
        <div class="users__username-input"><%= @user.username %></div>
      </div>
      <div class="users__email">Email:
        <div class="users__email-input"><%= @user.email %></div>
      </div>

      <div class="users__buttons">
        <!-- Edit button -->
        <div class="users__edit-profile">
          <%= link_to "Edit Profile", edit_user_path(@user) %>
        </div> 

        <!-- Delete button -->
        <div class="users__delete-profile">
          <%= button_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your profile?" }%>
        </div>
      </div>

    </div>

  </body>
</html>