<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <%= stylesheet_link_tag 'users', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>User Information</h1>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <div>Name: <%= @user.name %></div>
    <div>Username: <%= @user.username %></div>
    <div>Email: <%= @user.email %></div>

    <!-- Edit button -->
    <h2>Edit Profile</h2>
    <div>
      <%= link_to "Edit Profile", edit_user_path(@user), class: 'button' %>
    </div> 

    <!-- Delete button -->
    <h2>Delete Account</h2>
    <div>
       <%= button_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your profile?" }, class: 'button'%>
    </div> 

  </body>
</html>