<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <%= stylesheet_link_tag 'registrations', 'data-turbolinks-track': 'reload' %>
  </head>
   
  <body class="registration">
    
    <span class="registration__sign-up">Sign Up</span>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
    
    <div class="registration__form">

      <%= form_for :user, url: '/register' do |f| %>

      <div class="registration__form-group">
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %>
      </div>

      <div class="registration__form-group">
        <%= f.label :username, 'Username:' %>
        <%= f.text_field :username %>
      </div>

      <div class="registration__form-group">
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email %>
      </div>

      <div class="registration__form-group">
        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password %>
      </div>

      <div class="registration__form-group">
        <%= f.label :password_confirmation, 'Password Confirmation:' %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div>
        <%= f.submit "Submit", class: 'button' %>
      </div>
      
      <% end %>

    </div>


  </body>
</html>