<!DOCTYPE html>
<html>

  <head>
    <title>My Favourites</title>
    <%= stylesheet_link_tag 'favourites', 'data-turbolinks-track': 'reload' %>
    </head>

  <body class="favourites">
    <!-- List of favourited recipes --> 
    <h2 class="favourites__title">My Favourite Recipes</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="favourites__container-card"> 
      
      <% @favourites.each do |favourite| %>

        <article class="favourites__recipe">

          <div class="favourites__recipe-wrapper">
      
            <div class="favourites__name">
              <%= link_to favourite.recipe.title, recipe_path(favourite.recipe), class: 'favourites__button' %>
            </div>
          
            <div class="favourites__image">
              <%= image_tag favourite.recipe.photo %>
            </div>

          </div> 

        </article>

      <% end %>
    
    </div>

  </body>
</html>