<!DOCTYPE html>
<html>
  <head>
    <title>My Favourites</title>
    <%= stylesheet_link_tag 'favourites', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- List of favourited recipes --> 
    <h2>Your Favourite Recipes</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <% @favourites.each do |favourite| %>
      <div>
        <%= image_tag favourite.recipe.photo %>
        <%= link_to favourite.recipe.title, recipe_path(favourite.recipe), class: 'button' %>
      </div>
    <% end %>

  </body>
</html>