<!DOCTYPE html>
<html>
  <head>
    <title>My Favourites</title>
    <%= stylesheet_link_tag 'favourites', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="favourites">
    <!-- List of favourited recipes --> 
    <h2 class="favourites__title">My Favourite Recipes</h2>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="favourites__favourite">
      <% @favourites.each do |favourite| %>
        <%= link_to favourite.recipe.title, recipe_path(favourite.recipe), class: 'favourites__button' %>
        <%= image_tag favourite.recipe.photo %>
      <% end %>
    </div>

  </body>
</html>