<html>

  <section class="recipes">

    <%= stylesheet_link_tag 'recipes', 'data-turbolinks-track': 'reload' %>
    
    <header>
      <h2 class="recipes__add-recipe">Add a new recipe</h2>
    </header>

    <%= form_for @recipe, url: user_recipes_path(current_user), method: :post do |f| %>

    <div class="recipes__form">
    
      <div class="recipes__form-group">
        <%= f.label :title, 'Recipe name:' %>
        <%= f.text_field :title %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :number_of_servings, 'Number of servings:' %>
        <%= f.number_field :number_of_servings %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :time, 'Total time:' %>
        <%= f.text_field :time %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :description, 'Description:' %>
        <%= f.text_area :description %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :country, 'Country:' %>
        <%= f.text_field :country %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :ingredients, 'Ingredients:' %>
        <%= f.text_area :ingredients %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :instructions, 'Instructions:' %>
        <%= f.text_area :instructions %>
      </div>

    </div>  
    
    <div class="recipes__checkbox-options">

      <div class="recipes__form-group">
        <span>Please select all options that apply to your recipe:</span>

        <!-- The options for breakfast, lunch, dinner, and dessert will be added here -->
        
        <%= f.check_box :vegetarian %>
        <%= f.label :vegetarian, "Vegetarian" %>
        <%= f.check_box :vegan %>
        <%= f.label :vegan, "Vegan" %>
        <%= f.check_box :gluten_free %>
        <%= f.label :gluten_free, "Gluten-free" %>
        <%= f.check_box :peanut_free %>
        <%= f.label :peanut_free, "Peanut-free" %>
        <%= f.check_box :halal %>
        <%= f.label :halal, "Halal" %>
        <%= f.check_box :kosher %>
        <%= f.label :kosher, "Kosher" %>
      </div>

      <div class="recipes__form-group">
        <span>What type of meal is this?</span><br>
        <%= f.check_box :breakfast %>
        <%= f.label :breakfast, "Breakfast" %>
        <%= f.check_box :lunch %>
        <%= f.label :lunch, "Lunch" %>
        <%= f.check_box :dinner %>
        <%= f.label :dinner, "Dinner" %>
        <%= f.check_box :dessert %>
        <%= f.label :dessert, "Dessert" %>
        <%= f.check_box :appetizer %>
        <%= f.label :appetizer, "Appetizer" %>
      </div>

      <div class="recipes__form-group">
        <%= f.label :photo %>
        <%= f.file_field :photo, class: 'button' %>
      </div>
    
    </div>

    <%= f.submit 'Add recipe', class: 'button' %>
    
  <% end %>
</section>

</body>
</html>