<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Website</title>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Klee+One&display=swap', media: 'all', 'data-turbolinks-track': 'reload', 'data-turbolinks-permanent': true %>
    <!-- Security Purposes - to fend off attacks  -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    
    <%= yield %>

    <!-- Needed to load the JavaScript that handles the DELETE method -->
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

